@import url(https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rock+Salt&display=swap);

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root{
    --primary_color: #F9FBFA;
    --secondary_color:#13654F;
    --accent1-color: #6DADCD;
    --accent2-color: #074034;
}




header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    background-color: var(--secondary_color);
}

 .navigation{
    display: flex;
    list-style:  none;
 }

 .navigation li{
    justify-content: space-around;
 }

 .navigation a{
    display: block;
    font-size: larger;
    padding: 10px;
    color: var(--primary_color);
    text-decoration: none;
 }

.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1{
   
    color: var(--primary_color);
    font-size: 5vw;
}

.hero h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 4rem;
    font-family: 'Rock Salt', Georgia, 'Times New Roman', serif;
    
}

article{
    position: absolute;
    top: 40%;
    background-color: var(--accent1-color);
    opacity: 90%;
    font-size: 1.5vw;
}

article img {
    float: right;
    height: auto;
    max-width: 25%;
}

article p{
    font-family: 'PT Serif', Georgia, 'Times New Roman';
    color: var(--primary_color);
}

h2{
    font-family: 'Rock Salt', Georgia, 'Times New Roman', serif;
    color: var(--accent2-color);
    grid-row: 1; 
}
.history{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    
}



.history h2{
    display: flex;
    justify-content: center;
    grid-row: 1;
    grid-column: 2/span 1;
    
}
.history img{
    max-width: 20rem;
    grid-row: 2;
    grid-column: 2/3;
    padding: 10px;
}
.history p {
    grid-row: 2;
    
   
}

.adventure{
    display: grid;
    grid-template-columns: repeat(5,20%);
    justify-content: center;
    align-items: center;
    grid-template-rows: 30% 30% 30%;
}    
.adventure h2{
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-left: 100px;
    
    

}
.adventure figure{
    grid-row: 2;
    
    
}
.adventure img{
    display: flex;
    justify-content: space-evenly;
    width: 150%;
    max-width: 200px;
    height: auto;
    padding-top: 1rem;
    
}
.adventure figcaption{
    grid-row-start: 3;
   justify-content: space-evenly; 
}
footer{
    display: grid;
    grid-template-columns: repeat(4,20%);
    background-color: var(--secondary_color);
    justify-content: center;
    align-content: center;
 
}
.social{
    display: flex;
    grid-column: 4;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    
    
}
.social img{
    max-height: 50px;
    margin: 0;
    padding-top: 30px;
   
}
.social_links{
    text-decoration: none;
}

.contact-banner{
    background-color: var(--accent2-color);
    margin: 0 auto;
    display: grid;
    text-align: center;
    border: var(--accent1-color) 2px solid;
}

.contact-banner h1{
    color:var(--primary_color);
    font-family: "caveat", 'Times New Roman', Times, serif;
}

.info{
    display: grid;
    background-color: var(--accent2-color);
    justify-content: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    border-top: solid var(--accent1-color) 5px ;
}

.column1{
    justify-content: center;
    text-align: center;
}
.column3{
    justify-content: center;
    align-items: center;
    border: solid black 0px;
    margin: 50px;
}
.contact{
    grid-column: 1/3;
    width: 100%;
    margin:5px;
    font-size: 1.4em;
    padding: 10px;
    text-align: center;
    color: var(--primary_color);
    
}
.map-container{
    width: 100%;
    padding-left: 20px;
    grid-column: 3/6;
    ;
    
}

iframe{
    width: 50%;
    height: 300px;
}
.employees{
    display: grid;
    background-color: var(--accent2-color);
    margin: 0 auto;

}
.employees figure{
    grid-row: 1;
    
    
}
.employees img{
    display: flex;
    justify-content: space-around; 
    max-height: 50%;
    height: auto;
    padding-top: 1rem;
    align-content: center;
    padding-top: 100px;
}
.employees figcaption{
    grid-row-start: 3;
   justify-content: space-evenly; 
   font-size: 1.1em;
   color: var(--primary_color);
}

.form-container{
    background-color: var(--accent2-color);
    padding-bottom: 100px;
}
form{
    width: 650px;
    margin: 0 auto;
    
    padding: 1rem;
    border: solid 5px var(--accent1-color);   
    border-radius: 15px;
    background-color: var(--primary_color);
    display: grid;
    
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    align-self: center;
    justify-content: center;
}

legend{
    padding: .5rem;
    color: var(--accent2-color);
    font-size: 1.2em;
    text-align:left;
}

label{
    text-align: center;
    padding-right: 1rem;
}

input, select {
    padding: .5rem;
    font-size: 1.1rem;
    text-align: center;
    justify-content: center;
}

textarea{
    width: 100%;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]{
    width: 35px;
    height: 15px;
    vertical-align: bottom;
}

button{
    margin: 1rem;
    border-radius: .5rem;
    border: none;
    padding: .5rem;
    width: 100px;
    background-color: var(--secondary_color);
    color: white;
    font-size: 1.1rem;
    width: 200px;
    text-align: center;
}

.wireframe a{
    text-decoration: none;
    color: var(--primary_color);

}

footer p{
 
    padding-bottom: 30px;
    grid-column: 1/3;
    align-self: center;
    color: var(--primary_color);
}