* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #004444;
}

nav{
    display: flex;
    background-color: var(--main-color);
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #FFFFFF;
    background-color: #004444;
    display: block;
    padding: .5rem;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto ;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

main{
    grid-column: 2/3;
    margin: 1rem;
}
aside{
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    margin: 1rem;
}

h1{
    text-align: center;
    color: var(--main-color);
    border-bottom: dashed ;
}

main img {float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main p {
    padding: 0;
}

aside{
    width: 20em;
    background-color: grey;
}
aside h2{
    position: relative;
    top: 30px;
    left: 60px;
    color: lavenderblush;
}
aside img {width: 200px; height: auto;
}
aside p {padding: 0;
}
footer{margin-top: 20px; border-top: 10px; text-align: center;}
/* Class Selectors */
.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0 / .1);
    background-color:white;
    color: black;
}