/* this is a comment in CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: darkblue;
}

nav{
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main{max-width: 840px;
}
h1{
    text-align: center;
    color: var(--main-color);
}

main img {float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main p {
    padding: 0;
}

aside{width: 20em; }
aside h2{
    position: relative;
    top: 30px;
    left: 60px;
    color: lavenderblush;
}
aside img {width: 200px; height: auto;
}
aside p {padding: 0;
}
footer{margin-top: 20px; border-top: 10px; text-align: center;}
/* Class Selectors */
.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0 / .1);
    background-color:white;
    color: black;
}